/*global styles, common to the entire html tree, */

:root {
    /*preselected colors not all of them have been used*/

    --primary-color: #212121;
    --secoundary-color: #757575;
    --primary-link-color: #212121;
    --secoundary-link-color: #757575;
    --background-color: #FFFFFF;
    --highlight-color: #2196F3;
    --footer-background-color: #2f303a;
    --primary-logo-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
    
}

/*logo, + on light background, + on dark background*/
.logo {
    font-family: Raleway, Oleo Script, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
    /*color: var(--primary-logo-color);*/
}
.logo-Studio-on-light-background {
    color:  #000000;
}
.logo-Studio-on-dark-background {
    color:  #FFFFFF;
}

/*header styles: menu + contacts*/

.menu-links,
.contact-links {
    list-style-type: none;
}
.menu-link {
    text-decoration: none;
    color: var(--primary-link-color);
}
.contact-link {
    text-decoration: none;
    color: var(--secoundary-link-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--highlight-color);
}

/*footer styles: dark background */
.footer {
    background-color: var(--footer-background-color);
}

.address-container {
    text-decoration: none;
    /*font-family: Roboto;*/
    font-size: 14px;
    font-style: normal;
    /*font-weight: 400;*/
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.address-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}


/*main page specyfic styles*/

.big-baner {
    /*position: absolute;*/
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    
    background: #2F303A;
}
h1 {
    /*font-family: Roboto;    */
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.order-button {
    /*position: absolute;*/
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.features {
    list-style: none;
    /*position: absolute;    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;*/

}
.feature-title {
    /*font-family: Roboto;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align:left

}
/*portfolio page specyfic styles */

/*remowe dots */
.projects
.filters {
    list-style-type: none;
}
