/* ---------------   global styles, common to the entire html tree, */
* {
    margin: 0;
    padding: 0;
}
:root {
    /*preselected colors not all of them have been used*/

    --primary-color: #212121;
    --secoundary-color: #757575;
    --primary-on-dark-background-color: rgba(255, 255, 255, 1); 

    --primary-link-color: #212121;
    --secoundary-link-color: #757575;
    --address-container-color: rgba(255, 255, 255, 1);
    --address-list-color: rgba(255, 255, 255, 0.6);

    --background-color: #FFFFFF;
    --highlight-color: #2196F3;
    --footer-background-color: #2f303a;
    
    --primary-logo-color: #2196F3;
    --logo-color-on-light-background: #000000;
    --logo-color-on-dark-background: #FFFFFF;
    /*kolor button z portfolio #F5F4FA*/

    --order-button-color: #2196F3;
    --order-button-background-color: rgba(255, 255, 255, 1);
   
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    
}

/* ------------   logo, + on light background, + on dark background ---------------*/
.logo {
    font-family: Raleway, Oleo Script, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--primary-logo-color);
   
}
.logo-on-light-background {
    color: var(--logo-on-light-background);
}
.logo-on-dark-background {
    color: var(--logo-color-on-dark-background);
}

/*header styles: menu + contacts*/

.menu-links,
.contact-links {
    list-style-type: none;
}
.menu-link {
    text-decoration: none;
    color: var(--primary-link-color);
}
.contact-link {
    text-decoration: none;
    color: var(--secoundary-link-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--highlight-color);
}

/*footer styles: dark background */
.footer {
    background-color: var(--footer-background-color);
}

.address-container {
    text-decoration: none;
    /*font-family: Roboto;*/
    font-size: 14px;
    font-style: normal;
    /*font-weight: 400;*/
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--address-container-color);
}
.address-link {
    text-decoration: none;
    color: var(--address-list-color);
}


/*--------------  main page specyfic styles  ----------------------------*/

.big-baner {
    /*position: absolute;*/
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    
    background: var(--footer-background-color);
}
/* hedery- tytuły, nagłówki */ 
.big-baner-title {
    /*font-family: Roboto;    */
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-on-dark-background-color);
}
h2 {
    /*font-family: Roboto;*/
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

}


.order-button {
    /*position: absolute;*/
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    background: var(--order-button-background-color);
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;*/

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--order-button-color);
    cursor: pointer;

}

.features {
    list-style: none;
    /*position: absolute;    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;*/

}
.feature-title {
    /*font-family: Roboto;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align:left

}


.boxes {
    list-style-type: none;
}

.our-team {
   /* position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;*/
    
    background-color: #F5F4FA;
    list-style-type: none;
}
.team-card {
    /*position: absolute;*/
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;

    background: #FFFFFF;

/* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;

}
/* !! dopracować img !!*/
img {
    /*: absolute;*/
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1635px;
    border-radius: 0px;
}
.team-card-name {
    /*font-family: Roboto;*/
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-card-role {
    /*font-family: Roboto;*/
    font-size: 16px;
/*font-weight: 400;*/
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--secoundary-color);
}

/* ---------------------  portfolio page specyfic styles */

.filters {
    /*position: absolute;
    width: 572px;
    height: 54px;
    left: 510px;
    top: 174px;*/
    
    list-style-type: none;
    /*font-family: Roboto;*/
    
  
}
.filter-button {
    /*position: absolute;*/
    height: 38px;
    width: 114px;
    left: 740px;
    top: 174px;
    border-radius: 4px;
  

    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    background-color: var(--highlight-color);
    color: var(--background-color);

/* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
}

.projects {
    list-style-type:none;
}
.project-container {
    box-sizing: border-box;
    height: 404px;
    width: 370px;
    left: 215px;
    top: 262px;
    border-radius: 0px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

    
}
.project-container > img {
    width: 370px;
    height: 294px;
    left: 215px;
    : 262px;

}
.project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-color);

}
.projekt-filter {
    
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;


}
